// I am Second in css order
body
	color #fff
	background-color orange
	
html
	box-sizing border-box

.test
	color black

.othertest
	color red
	
.anoterone
	background blue
	
	.anotherone
		color red
		
		.itworks
			color green

.example
	display grid
	transition all .5s
	user-select none
	background linear-gradient(to bottom, white, black)

.okay
	color green
	
.testyyy
	color tan

.cheese
	color yellow